* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.container-flex{
    display: flex;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
}
header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    background-color: rgba(97, 99, 3, 0.747);
    color: #ffff;
}

.sobreAloja img {
    display: flex;
    margin-top: 32px;
    margin-bottom: 55px;

}
.social-links img{
    height: 24px;
}
.social-links li {
    display: inline;
    margin-right: 8px;
}
.social-links li a {
    text-decoration: none;
}
.social-links {
    display: flex;
}

#sobreLoja {
    margin-left: 32px;
    
}
#sobreLoja h2 {
    margin-top: 16px;
}
#sobreLoja h3 {
    margin-top: 16px;
}
.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
    text-transform: uppercase;
}
.menu a {
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
}
.lista-vinhos{
    flex-wrap: wrap;
}
.lista-vinhos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}
.lista-vinhos li img{
    max-width: 200px;
}
.lista-vinhos li h3{
    margin: 16px 0;
}
.item-central{
    margin: 0 4%;
}
.price{
    margin: 8px auto;
    display: block;
}
.price del{
    color: rgba(80, 76, 76, 0.363);
    font-size: 14px;
}
button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 15px;
}
h2 {
    border-bottom: 3px solid rgb(74, 75, 31);
    margin-bottom: 32px;
    margin-top: 32px;
}
footer {
    background-color: rgba(97, 99, 3, 0.747);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    padding: 16px;
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container{ 
        display: block;
        max-width: 1023px;
        margin: 0;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-bottom: 16px;
        width: 100%;
    }
    .menu {
        display: flex;
    }
    .loja{
        width: 98%;
        margin: 6px;
    }
    #sobreLoja {
        align-items: center;
        margin: 35px;
        font-size: 25px;
        margin-bottom: 16px;
        
    }
    h2 {
     margin: 16px;
    }
    #sobreLoja > h2 {
        margin: px;
        margin-bottom: 20px;
    }
    h3{
        margin-top: 32px;
        font-size: 22px;
    }
    .social-links img{
        height: 40px;
        margin: px;
        margin-bottom: 16px;
    }
    .social-links li {
        display: inline;
        margin-left: 85px;
    }
    .social-links li a {
        text-decoration: none;
    }
    .social-links {
        display: flex;
    }
    .lista-vinhos li {
        list-style: none;
        max-width: 50%;
        margin: 38px;
        font-size: 25px;
    }
    .lista-vinhos li h3{
        margin: 1px;
        font-size: 25px;
    }
    .item-central{
        margin: 0 5%;
    }
    .price del{
        color: rgba(80, 76, 76, 0.363);
        font-size: 20px;
    }
    button{
        padding: 12px 0;
        font-size: 20px;
    }
    footer {
        text-align: center;
        padding: 16px;
        font-size: 15px;
    }

}
@media screen and (max-width: 640px) {
    .container{
        width: 100%;
        display: block;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        margin-left: 70px;
        margin-bottom: 16px;
    }
    .menu {
        display: flex;
    }
    .loja{
        width: 95%;
        margin-left: 15px;
    }
    #sobreLoja {
        align-items: center;
        margin: 16px;
        font-size: 20px;
        
    }
    #sobreLoja > h2 {
        margin: 1px;
        margin-bottom: 16px;
    }
    h3{
        margin-top: 32px;
        font-size: 22px;
    }
    .social-links img{
        height: 40px;
        margin: 70px;
    }
    .social-links li {
        display: inline;
        margin-right: 8px;
    }
    .social-links li a {
        text-decoration: none;
    }
    .social-links {
        display: flex;
    }
    .lista-vinhos li {
        list-style: none;
        max-width: 40%;
        margin: 35px;
        font-size: 25px;
    }
    .lista-vinhos li h3{
        margin: 16px;
        font-size: 25px;
    }
    .item-central{
        margin: 0 5%;
    }
    .price del{
        color: rgba(80, 76, 76, 0.363);
        font-size: 20px;
    }
    h2 {
        margin: 16px;
    }
    button{
        padding: 12px 0;
        font-size: 20px;
    }
    footer {
        text-align: center;
        padding: 16px;
        font-size: 15px;
    }

}
@media screen and (min-width: 375px) and (max-width: 667px) {
    .container{ 
        display: block;
        width: 100%;
        margin: 0;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 28px;
        width: 100%;
    }
    .menu {
        display: inline;
    }
    .loja{
        width: 95%;
        margin: 9px;
    }
    #sobreLoja {
        align-items: center;
        margin: 6px;
        font-size: 25px;
        margin-bottom: 16px;
        
    }
    h2 {
    margin: 16px;
    }
    #sobreLoja > h2 {
        margin: 6px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
    }
    h3{
        font-size: 25px;
    }
    .social-links img{
        height: 40px;
        margin: 2px;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .social-links li {
        display: inline;
        margin-left: 40px;
    }
    .social-links li a {
        text-decoration: none;
    }
    .social-links {
        display: flex;
    }
    .lista-vinhos li {
        list-style: none;
        max-width: 50%;
        margin: 85px;
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 45px;
    }
    .lista-vinhos li h3{
        margin: 1px;
        font-size: 25px;
    }
    .item-central{
        margin: 0 5%;
    }
    .price del{
        color: rgba(80, 76, 76, 0.363);
        font-size: 20px;
    }
    button{
        padding: 15px 0;
        font-size: 15px;
    }
    footer {
        text-align: center;
        padding: 16px;
        font-size: 10px;
    }


}
